<div class="about-section">
  <h1>About Us Page</h1>
  <p>Some text about who we are and what we do.</p>
  <p>Resize the browser window to see that this page is responsive by the way.</p>
</div>



 
    <div class="card" style="margin-left:600px ;">
      <h2 style="text-align:center">Our Team</h2>
      <img src="../../assets/images/pc4.jpg" alt="Hari" style="margin-left: 80px; width:50%">
      <div class="container">
        <h2 style="margin-left:100px ;">Hari</h2>
        <p class="title">CEO & Founder</p>
        <p>Some text that describes me lorem ipsum ipsum lorem.</p>
        <p>jane@example.com</p>
        <p><button class="button">Contact</button></p>
     
  </div>




</div>