<!-- <app-home></app-home> -->
<!-- <div class="nav">
<button>Home</button>
<button>About</button>
<button>Contact</button>
<button>Services</button>
<div style="float: right; margin-right: 0px;" >
 <h5 style="color: tomato; font-family: fantasy; font-size: 50px; float: right; margin-top: 10px; margin-right:100px;">Eon</h5>
 <h5 style="color:blue; font-family: fantasy; font-size: 50px; float: right; margin-top: 10px; margin-right: 0px;" >Gadg</h5>
 <h6 style="color: white; float:right;  margin-top: 80px; font-size: 15px; width: 200px; margin-right: 0px; margin-left: 0px;"><i>Engineering Smartness</i></h6>
 </div>
</div> 
 <div class="container">
  
</div> -->

<div class="main-container">
    <div class="nav-container">
        <ul>
            <li> <a routerLink="Home"><p>Home</p></a></li>
            <li> <a routerLink="About"><p>About</p></a></li>
            <li> <a routerLink="Contact"><p>Contact</p></a></li>
            <li> <a routerLink="Services"><p>Services</p></a></li>
            <li><h4 style="color: blue; font-family: fantasy; font-size: 60px; margin-left: 700px; ">Gadg</h4><h4 style="font-family: fantasy; font-size: 60px; color: tomato; ">Eon</h4></li>
          
            
         </ul>
        
         
    </div>
    <!-- <div style="margin-left: 50 px; margin-top: 0px; background-color: rgba(0, 0, 0, 0.147); width: 20%; height: 100%;"  >
        <h4 style="color: blue; font-family: fantasy; font-size: 80px; ">Gadg</h4><h4 style="font-family: fantasy; font-size: 80px; color: tomato; ">Eon</h4>
        <h5>Engineering Smartness</h5>
    </div>
   -->
    <div class="component-container">
        <router-outlet></router-outlet>
    
        <!-- <app-home></app-home>
        <app-about></app-about>
        <app-contact></app-contact>
        <app-services></app-services> -->
        
    
        </div>
    
</div>
