<div class="container">
    <!-- <div class="nav">
        <button>Home</button>
        <button>About</button>
        <button>Contact</button>
        <button>Services</button>
        <div style="float: right; margin-right: 0px;" >
         <h5 style="color: tomato; font-family: fantasy; font-size: 50px; float: right; margin-top: 10px; margin-right:100px;">Eon</h5>
         <h5 style="color:blue; font-family: fantasy; font-size: 50px; float: right; margin-top: 10px; margin-right: 0px;" >Gadg</h5>
         <h6 style="color: white; float:right;  margin-top: 80px; font-size: 15px; width: 200px; margin-right: 0px; margin-left: 0px;"><i>Engineering Smartness</i></h6>
         </div>
        </div> -->

       <div class="cd">
          <h3 style="float: left; font-family: fantasy; font-size: 30px;"> </h3>
          <img src="../../assets/images/download.png" style="width: 30%;">
          <img src="../../assets/images/images (1).jpg" style="float: right; border-radius: 150px; margin-right: 0px;" >
          <h4 style="margin-top: 200px;" >Agile </h4>
          <hr width="70%" style="float: left; border-top: 2px dotted black;">
          <p style="width: 80%; color: rgba(0, 0, 0, 0.522); margin-top: 10px;">Combining the capacity of large global providers with the velocity of the tight team,we get more of the right things done,faster.</p>
          

          
       </div>

       <div class="cd">
        <h3 style="float: left; font-family: fantasy; font-size: 30px"> </h3>   
        <img src="../../assets/images/download.png" style="width: 30%;">
        <img src="../../assets/images/images.jpg" style="float: right; border-radius: 150px;">
        <h4 style="font-size: 45px;">Simplify <br> IoT </h4>
        <hr style="width: 70%; border-top: 2px dotted black; float: left;" >
        <br>
        <p style="width: 80%; color: rgba(0, 0, 0, 0.555); margin-top: 0px;">KORE simplifies complexity across the IoT ecosystem, enabling our customers IoT vision and delivering measurable value.</p>
        
    </div>

    <div class="cd">
        <h3 style="float: left; font-family: fantasy; font-size: 30px;"> </h3>  
        <img src="../../assets/images/download.png" style="width: 30%;">
        <img src="../../assets/images/images (2).jpg" style="float: right; border-radius: 150px; ">
        <h4>Innovative</h4>
        <hr style="width: 70%; border-top: 2px dotted black; float: left;">
        <br>
        <p style="margin-left: 0px; width: 80%; margin-top: 10px; color: rgba(0, 0, 0, 0.555);" > We explore and consider ideas from every source enabling us to deliver insights leading to new,better outcomes in IoT</p>

        
    </div>
     